@import url(https://fonts.google.com/css2family=Vidaloka);
/* Arquivo responsável pelos estilos */
/* Aula 24/04/2023 - Estilos do Menu */


body,
ul {
  margin: 0px;
  padding: 0px;
}

#menu a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
  transition: 0.3s;
}

#menu a:hover {
  color: #F2E7DC;
  font-size: 1.6em;
  transition: 0.3s;
  text-shadow: 4px 4px 6px #0000007A;
}

#logo img {
  float: left;
  height: 70px;
  position: relative;
  top: 1px;
  left: 10px;
}

#logo img:hover {
  float: left;
  height: 200px;
  position: relative;
  top: 100px;
  left: 10px;
  box-shadow: 4px 4px 6px #0000007A;
  transition: 0.3s;
}


#header {
  width: 100%;
  position: relative;
  z-index: 90;
  box-sizing: border-box;
  height: 80px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77B9F2;
}

#header h1 {
  font-family: 'Vidaloka';
  color: black;
  float: left;

}

#menu {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}

#btn-mobile {
  display: none;
}

.carousel-inner .carousel-item img {
  width: 100%;
  margin: auto;
  max-height: 600px;
  padding-top: 85px;
}

/*
#carouselExampleInterval{
  position: relative;
  z-index: 10;
  padding-top: 75px;
  gap: 0,5rem;
   width: 100%;
}

 #carouselExampleInterval img{ 
  height: auto;
  width: auto;
}
*/

@media (max-width: 600px){ 
  #menu{
    display: block;
    position: absolute;
    width: 15em;
    top: 70px;
    right: 0px;
    background: #77B9F2;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    padding-left: 5px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu li{
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 0 1rem;
    border-bottom: 2px solid #F2E7DC;
  }
  #nav.active #menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: hidden;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger{
    border-top: 2px solid;
    width: 25px;
    color: #000;
  }
  #hamburger::after,
  #hamburger::before{ 
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin-top: 4px;
    position: relative;
    border-top: 2px solid;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform:  rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform:  rotate(-135deg);
    top: -7px;
  }

  

}



/*CSS Estilos Banner*/
.section-banner-home {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  padding: 50px;
  background-color: #77B9F2;
}

.section-banner-home img {
  height: 400px;
  width: auto;
}

.section-banner-home .texto-banner {
  margin-top: 30px;
  font-size: 22px;
}

.section-banner-home .texto-banner h1 {
  font-size: 30px;
  width: 60%;
  font-weight: 500;
  padding-bottom: 20px;
}

.section-banner-home .texto-banner p {
  font-size: 15px;
  margin-bottom: 20px;
}

.section-banner-home .texto-banner a {
  color: black;
  text-decoration: none;
  background-color: #F2E7DC;
  padding: 4px 14px;
  font-size: 15px;
}

/* Fim css Banner */

/* Início css destaque */
.destaque h2{
  margin-top: 15px;
  color: #77B9F2;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.destaque h4{
  margin-top: 15px;
  color: #77B9F2;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}


.destaque p {
  width: 77%;
  text-align: center;
  font-size: 14px;
  margin: 30px auto;
}

.destaque figcaption {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.destaque a {
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: #77B9F2;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
}

.destaque a:hover {
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
}

.destaque img {
  height: 100%;
}

/* Fim CSS Destaque  */

/* Início CSS novidades */

.novidades{
  background-color: #77B9F2;
}
.novidades img {
 padding-top: 5%;
}

.novidades .text-body {
  width: 80%;
  margin: 70px auto;
}

.novidades h2 {
  color: #000;

}

.novidades p {
  color: #000;

}

.novidades a{
  color: #77B9F2;
  text-decoration: underline;
  text-decoration: #000;
  padding: 6px 12px;
  background-color: #F2E7DC;
  font-weight: 400;
}
/* Fim CSS novidades */

/* Início CSS Galeria */

.galeria {
  margin: 60px auto 20px;
  /* 
    1 valor   : all(todos) > EX: margin:20px 
    2 valores : top and botton / rigth and left  > EX: margin:50px 50px
    3 valores : top / rigth and left / botton  > EX: margin:50px 50px 50px
    4 valores : top /rigth / botton / left  > EX: margin:20px 60px 20px 60px
    >>Essa regra é igual para padding.<<
  */ 
}

.galeria h2 {
  text-align: center;
  font-size: 24px;
}

.galeria p {
  text-align: center;
  width: 50%;
  margin: 14px auto 50px;
}

.galeria .gallery {
  width: 30%;
  margin: 14px auto 50px;
  height:50%;
}

.galeria .gallery img{
  width: 60%;
  height: 60%;
  margin-top:5%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  display: block;
}

.galeria .gallery img:hover{
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  box-shadow: 0 0 10px #000;
}
/* Fim CSS Galeria */

/* Início CSS Footer */

.rodape {
  padding: 50px 50px 0;
  background-color: #77B9F2;
}

.rodape .container #img-logo{
  height:50%;
  width: 50%;
}

.rodape .info-contato p {
  margin: 0;
}

.rodape a{
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

.rodape a:hover{
  font-weight: bold;
}

.rodape .redes-sociais{
  display: inline-block;
} 

.rodape .redes-sociais img{
  width: 50px;
  height: 50px;
  padding-left: 10px;
  transition: transform .3s;
}

.rodape .redes-sociais img:hover{
  transform: scale(2.0);
 }

.rodape p.direitos{
  text-align: center;
  margin-top: 40px;
}
/* Fim CSS Footer . */

/* Início CSS streaming */
.embed-container{
  position: relative;
  padding-bottom: 0;
  height: auto;
  max-width:100%;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.embed-container p{
  text-align: center;
  font-size: 20px;
}

.embed-container h2{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.embed-container iframe{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  border-radius: 0.5em;
  transition: .3s;
  display: flex;
}

.embed-container iframe:hover{
  flex: 1;
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 0 10px #000;
}

.embed-container .col-lg-4{
  margin-top: 20px;
}

/* Fim CSS streaming */
/* Inicio CSS contato */

.contato{
  margin-top: 50px;
}


.form_main {
  width: 100%;
}

.form_main h4{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.text-left{
  border-bottom: 2px solid #77B9F2;
  padding-bottom: 9px;
  position: relative;
}

#text-local{
  border-bottom: 2px solid #77B9F2;
  margin-bottom: 9px;
  position: relative;
}

.text-left span{
  background: #77B9F2 none repeat scroll 0 0;
  bottom: -2px;
  height: 0;
  left: 0;
  position: absolute;
  width: 75px;
}

.form-horizontal{
  border-radius: 7px;
  padding: 6px
}

.form-control[type="text"]{
  border: 1px solid #000;
  margin: 10px 0;
  padding: 10px 0 10px 5px;
  width: 100%;
}
.form-control[type="email"] {
    border: 1px solid #000;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}

.form-control-msg[type="text"]{
  margin: 10px 0 0;
  padding: 10px 0 10px 5px;
  width: 100%;
}
.formbutton[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #87c0e6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #87c0e6;
    box-shadow: inset 0px 1px 0px 0px #87c0e6;
    background-color: #77B9F2;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.formbutton:hover {
    background-color: #31a1de;
}
.formbutton:active {
    position: relative;
    top: 1px;
}

.txt2:hover{
  background: #000 none repeat scroll 0 0;
  color: #77B9F2;
  transition: all 0.5s ease 0s;
}
/* Fim CSS contato */
/* Início CSS quem somos nós */
.quem{
  padding-top: 100px;
}

.quem .quembanner{
  width: 100%;
  margin-top: 10px;
  padding: 50px;
  background-color: #77B9F2;
}

.quemdes{
  padding-top: 80px;
}

.quem h1{
  font-size: 30px;
  width: 60%;
  font-weight: 500;
  padding-bottom: 20px;
}

.quem p{
  font-size: 15px;
  margin-bottom: 20px;
}


/* Fim CSS quem somos nós */
/* Início CSS mapa */
.map{
  width: 100%;
  height: 300px;
}

.map iframe{
  width: 100%;
  height: 100%;
}

/* Fim CSS mapa */
/* Início whatsapp */
.whatsapp{
  position: fixed;
  z-index: 2;
  top: 200px;
  right: 20px;
}

.whatsapp img{
  height: 60px;
}

/* Pisca-pisca icones */
.whatsapp .pulse{
  animation: pulse 0.7s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: top;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse{
  0%{
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100%{
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(120%);
  }
}

@keyframes pulse{
  0%{
    transform: scale(1);
    filter: brightness(100%);
  }
  100%{
    transform: scale(1.1);
    filter: brightness(110%);
  }
}
/*-----------------------------------*/

/* Fim whatsapp */
