
@import url(https://fonts.google.com/css2family=Vidaloka);
/* Arquivo responsável pelos estilos */
/* Aula 24/04/2023 - Estilos do Menu */


body, ul{
    margin: 0px;
    padding: 0px;
}

#menu a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    transition: 0.3s;
}

#menu a:hover{
  color: #F2CB57;
  font-size: 1.6em;
  transition: 0.3s;
  text-shadow: 4px 4px 6px #0000007A;
}

#logo img{
  float: left;
  height: 55px;
  position: relative;
  top: 1px;
  left: 10px;
}

#logo img:hover{
    float: left;
    height: 200px;
    position: relative;
    top: 100px;
    left: 10px;
    box-shadow: 4px 4px 6px #0000007A;
    transition: 0.3s;
  }
 

#header{
  width: 100%;
  position: fixed;
  z-index: 90;
  box-sizing:border-box;
  height: 75px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #93C73F;
}

#header h1{
  font-family:'Vidaloka';
  color: black;
  float: left;

}

#menu {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}

#btn-mobile{
  display: none;
}

.carousel-inner .carousel-item img{
  width: 100%;
  margin: auto;
  max-height: 600px;
  padding-top: 85px;
}
/*
#carouselExampleInterval{
  position: relative;
  z-index: 10;
  padding-top: 75px;
  gap: 0,5rem;
   width: 100%;
}

 #carouselExampleInterval img{ 
  height: auto;
  width: auto;
}
*/

/*CSS Estilos Banner*/
.section-banner-home{
  width: 100%;
  height: 500px;
  margin-top: 10px;
  padding: 50px;
  background-color: #93C73F;
}

.section-banner-home img{
  height: 400px;
  width: auto;
}

.section-banner-home .texto-banner{
  margin-top: 30px;
  font-size: 22px;
}

.section-banner-home .texto-banner h1{
  font-size: 30px;
  width: 60%;
  font-weight: 500;
  padding-bottom: 20px;
}

.section-banner-home .texto-banner p{
  font-size: 15px;
  margin-bottom: 20px;
}

.section-banner-home .texto-banner a{
  color: black;
  text-decoration: none;
  background-color: #F2CB57 ;
  padding: 4px 14px;
  font-size: 15px;
}
/* Fim css Banner */

/* Início css destaque */
.destaque h2,h4{
  margin-top: 15px;
  color: #93C73F;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.destaque p{
  width: 77%;
  text-align: center;
  font-size: 14px;
  margin: 30px auto;
}

.destaque figcaption{
  font-size: 13px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
} 

.destaque a{
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: #F2CB57;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
}

.destaque a:hover {
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: #93C73F;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
}

.destaque img{
  height: 100%;
}